env
*data/
*data*/
data.csv
data_vi.txt
env
.env
constants*
temp
data.txt
__pycache__
*/tokenizer-50k/*
tokenizer-50k
*merges.txt*
*merges.txt
final
temp
num_tokens/*
num_tokens
*/num_tokens
*/results
*/custom_train_result